/** Custom styles. Some will be ported over */
*, *:after {
  box-sizing: border-box;
}

html {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

body {
  color: #1b1b1a;
  margin: 0;
  padding-top: 10px;
}

.usa-table thead th {
  background-color: #162e51;
  color: #fff;
}

.c--nasa-indicators-table thead th:last-child {
  column-count: 3;
}

#legend {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  position: relative;
}

.legend-item {
  display: flex;
  width: 33.33%;
  height: 30px;
  align-items: center;
  position: relative;
}

.legend-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.legend-ui-label {
  position: absolute;
  font-size: .8rem;
}

.legend-bg {
  right: 165px;
}

.legend-text {
  right: 29px;
}

.legend-icon {
  display: inline-flex;
  height: 20px;
  width: 20px;
  border: 1px solid;
  margin-right: .5rem;
}

.legend-item input {
  max-width: 65px;
  position: absolute;
  border: 0;
  border-bottom: 1px solid #000;
  padding: 2px;
}

.legend-item input[type="text"] {
  right: 95px;
}

.legend-item input[type="checkbox"] {
  right: 10px;
}

#file-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

#file-upload:after {
  content: "Click to upload CSV file or Drag and Drop";
  position: absolute;
  width: 400px;
  border: 3px solid #777;
  border-radius: 9px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding: 16px;
  transition: all .5s ease-in-out;
}

#file-upload.file-accent:after, #file-upload:hover:after {
  border-color: #0071bc;
  border-width: 6px;
}

#tabs {
  border-bottom: 2px solid #0071bc;
  padding-bottom: 2px;
  margin-top: 1.5rem;
  text-align: center;
}

.tab {
  cursor: pointer;
  color: #0071bc;
  padding-bottom: 3px;
  display: inline-block;
}

.tab.active {
  font-weight: bold;
  margin-bottom: -3px;
  border-bottom: 4px solid #0071bc;
}

.tab:not(.active):hover {
  border-bottom: 2px solid #0071bc;
  margin-bottom: -2px;
}

.tab:first-child {
  margin-right: 17rem;
}

.indicator-icon thead tr th:last-child, .indicator-icon tbody tr td:last-child {
  /*display: none;*/
}

.indicator-icon tbody th {
  padding-left: 50px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 8px 50%;
}

.indicator-icon tbody tr[data-indicator="Precipitation-Based Indicators"] th {
  background-image: url(icons/precipNASA-150p.png);
}

.indicator-icon tbody tr[data-indicator="Evaporation-Based Indicators"] th {
  background-image: url(icons/etNASA-150p.png);
}

.indicator-icon tbody tr[data-indicator="Soil Moisture"] th {
  background-image: url(icons/smNASA-150p.png);
}

.indicator-icon tbody tr[data-indicator="Streamflow"] th {
  background-image: url(icons/streamflowNASA-150p.png);
}

.indicator-icon tbody tr[data-indicator="Runoff"] th {
  background-image: url(icons/runoffNASA-150p.png);
}

.indicator-icon tbody tr[data-indicator="Palmer Indices"] th {
  background-image: url(icons/palmerNASA-150p.png);
}

.indicator-icon tbody tr[data-indicator="Groundwater"] th {
  background-image: url(icons/groundwaterNASA-150.png);
}

textarea {
  width: 100%;
  height: 400px;
  margin-top: 1.5rem;
}
