/** Custom styles. Some will be ported over */
*, *:after {
  box-sizing: border-box;
}

html {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

body {
  color: #1b1b1a;
  margin: 0;
  padding-top: 10px;
}

.usa-table thead th {
  background-color: #162e51;
  color: #fff;
}

.usa-table tbody tr[data-indicator="Precipitation-Based Indicators"] * {
  background: #A6CFE3;
}

.usa-table tbody tr[data-indicator="Evapotranspiration-Based Indicators"] * {
  background: #FEC06D;
}

.usa-table tbody tr[data-indicator="Soil Moisture"] * {
  background: #b3d78a;
}

.usa-table tbody tr[data-indicator="Streamflow"] * {
  background: #1479B5;
  color: #fff;
}

.usa-table tbody tr[data-indicator="Runoff"] * {
  background: #CAB3D7;
}

.usa-table tbody tr[data-indicator="Palmer Indices"] * {

}

#legend {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.legend-item {
  display: flex;
  width: 33.33%;
  height: 30px;
  align-items: center;
}

.legend-icon {
  height: 20px;
  width: 20px;
  border: 1px solid;
  margin-right: .5rem;
}

#file-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

#file-upload:after {
  content: "Click to upload CSV file or Drag and Drop";
  position: absolute;
  width: 400px;
  border: 3px solid #777;
  border-radius: 9px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding: 16px;
  transition: all .5s ease-in-out;
}

#file-upload.file-accent:after, #file-upload:hover:after {
  border-color: #0071bc;
  border-width: 6px;
}
