/** Relevant exports from the USWDS **/
.display-none {
  display: none;
}
.usa-table--sticky-header {
  border: 1px solid #1b1b1b;
  border-collapse: separate;
}
.usa-table, .usa-table tbody th {
  text-align: left;
}
.usa-table {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
  border-collapse: collapse;
  border-spacing: 0;
  color: #1b1b1b;
  margin: 1.25rem 0;
  text-align: left;
}
.usa-table thead td, .usa-table thead th {
  background-color: #dfe1e2;
  color: #1b1b1b;
}
.usa-table thead th {
  background-clip: padding-box;
  font-weight: 700;
  line-height: 1.3;
}
.usa-prose>table td, .usa-prose>table th, .usa-table td, .usa-table th {
  background-color: #fff;
  border: 1px solid #1b1b1b;
  font-weight: 400;
  padding: .5rem 1rem;
}
@media (min-width: 64em) {
  .grid-container {
      padding-left: 2rem;
      padding-right: 2rem;
  }
}
.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.usa-select {
  background-image: url(icons/unfold_more.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-position: right .5rem center;
  background-size: 1.25rem;
  padding-right: 2rem;
}
.usa-combo-box__input, .usa-input, .usa-input-group, .usa-select {
  border-width: 1px;
  border-color: #5c5c5c;
  border-style: solid;
  border-radius: 0;
  color: #1b1b1b;
  display: block;
  height: 2.5rem;
  margin-top: .5rem;
  max-width: 30rem;
  padding: .5rem;
  width: 100%;
}
.usa-checkbox__label, .usa-combo-box__input, .usa-combo-box__list, .usa-fieldset, .usa-hint, .usa-input, .usa-input-group, .usa-radio__label, .usa-range, .usa-range__value, .usa-select, .usa-textarea {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06rem;
  line-height: 1.3;
}
.usa-button {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06rem;
  line-height: .9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  padding: .75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  color: #fff;
  background-color: #005ea2;
}
.usa-button:focus, .usa-button:hover {
  background-color: #1a4480;
}
.usa-button--secondary {
  background-color: #e52207;
  position: absolute;
  right: 0;
  bottom: 0;
}
.usa-button--secondary:focus, .usa-button--secondary:hover {
  background-color: #b50909;
}
a, a:visited {
  color: #0071bc;
}
.text-white, .text-white a, .text-white a:visited {
  color: #fff;
}
